.rmdb-loadmorebtn {
  background: #ce2020;
  width: 30%;
  display: block;
  margin: auto;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 30px;
}

.rmdb-loadmorebtn p {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  padding: 10px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
